//- スマホメニュー
mixin c_slidebar
  //-> スマホメニューのボタン
  button(type="button").c-slidebar-button.js-slidebar-button
    span.c-slidebar-button__inner
      span.c-slidebar-button__line
        span
        span
        span
      span.c-slidebar-button__text.is-open MENU
      span.c-slidebar-button__text.is-close CLOSE
  .c-slidebar-menu.js-slidebar-menu.is-top-to-bottom
    ul.c-slidebar-menu__list
      li: +a("#section01").js-anchor ビフォーアフター
      li: +a("#section02").js-anchor ご利用の流れ
      li: +a("#section03").js-anchor 料金プラン
      li: +a("#section04").js-anchor よくある質問
      li: +a("#section05").js-anchor アクセス
      li: +a-ex("https://line.me/R/ti/p/@060jzuih?oat__id=931679") お問い合わせ
    .l-container
      +a-ex("https://line.me/R/ti/p/@060jzuih?oat__id=931679").c-slidebar-menu__button
        +img("img-header-button.png")
