/*
---
name: フッター_サイトマップ型
category: Layout
---
*/

.l-footer {
  position: relative;
  background: linear-gradient(to top,#7bb6cc 0%, #e1e5f0 100%);
  color: $color-white;
  padding: rem-calc(80) 0;

  @include breakpoint(small only) {
    padding: rem-calc(60) 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__logo {
    display: block;
    width: 100%;
    max-width: rem-calc(248);
  }

  &__address {
    font-style: normal;
    @include font-format(13,0.5,19,400);
    margin-top: rem-calc(30);

    @include breakpoint(medium down) {
      margin-top: rem-calc(24);
      font-size: rem-calc(12);
    }
  }

  &__nav {
    margin-top: rem-calc(96);

    @include breakpoint(small only) {
      margin-top: rem-calc(48);
    }

    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      li {
        margin-top: rem-calc(4);

        &:not(:last-child) {
          border-right: 1px solid $color-white;
        }

        &:first-child {

          a {
            padding-left: 0;
          }
        }

        &:last-child {

          a {
            padding-right: 0;
          }
        }

        a {
          color: $color-white;
          text-decoration: none;
          display: block;
          padding: 0 rem-calc(32);
          @include font-format(13,0.3,16,400);

          @include breakpoint(1100 down) {
            padding: 0 rem-calc(16);
          }

          @include breakpoint(medium down) {
            font-size: rem-calc(12);
          }

          @include breakpoint(small only) {
            padding: 0 rem-calc(8);
          }
        }
      }
    }
  }

  &__copyright {
    display: block;
    margin-top: rem-calc(60);
    @include font-format(12,0.5,15,300);
    @include webfont-lato();

    @include breakpoint(medium down) {
      margin-top: rem-calc(30);
      font-size: rem-calc(11);
    }
  }
}
