/*
---
name: ヘッダー
category: Layout
---
*/
@use "sass:math";

.l-header {
  background-color: transparent;
  width: 100%;
  z-index: 9990;
  position: fixed;
  top: 0;
  left: 0;

  &.is-fixed {
    background: $color-white;
  }

  &__content {
    display: flex;
    align-items: center;
    height: rem-calc(148);
    padding: 0 rem-calc(30);

    @include breakpoint(medium down) {
      height: rem-calc(55);
    }
  }

  &__logo {
    margin: 0;
    width: 215px;
    flex-shrink: 0;
    margin-right: rem-calc(56);

    @include breakpoint(medium down) {
      width: 170px;
    }

    a,
    img {
      display: block;
    }
  }

  &__nav {
    margin-right: auto;

    @include breakpoint(medium down) {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      width: 100%;

      li {
        &:not(:last-child) {
          margin-right: rem-calc(32);
        }

        a {
          text-decoration: none;
          color: $font-base-color;
          position: relative;
          @include transition();
        }
      }
    }
  }

  &__button {
    width: 100%;
    max-width: rem-calc(280);
    margin-left: rem-calc(12);
    margin-bottom: rem-calc(30);
    width: 296px;
    filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.16));
  }
}

// スマホメニューopen時
.is-slidebar-active {
  .l-header {
    position: fixed;
    top: 0;
    left: 0;
  }
}




