/*
---
name: アコーディオン_Q&A
category: Components
---
*/

.c-accordion {
  position: relative;

  &__block {
    background: $color-white;
    border-bottom: 1px solid $color-primary;
    border-radius: 8px 8px 0 0;
    padding: rem-calc(16) rem-calc(32) rem-calc(24);
    margin-bottom: rem-calc(30);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);

    @include breakpoint(small only) {
      padding: rem-calc(12) rem-calc(16) rem-calc(16);
      margin-bottom: rem-calc(16);
    }
    // オープン時
    &.is-open {
      .c-accordion__head {
        &::before {
          content: none;
        }
      }
    }
  }
  &__head {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    padding-right: rem-calc(24);
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: rem-calc(10);
      height: rem-calc(20);
      width: rem-calc(1);
      background: $color-primary;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: rem-calc(20);
      height: rem-calc(1);
      background: $color-primary;
    }
  }

  &__title {
    @include font-format(18,0.1,26,400);
    padding-top: rem-calc(3);

    @include breakpoint(small only) {
      font-size: rem-calc(15);
    }
  }

  &__icon {
    color: $color-primary;
    @include webfont-lato();
    @include font-format(30,0.4,30,300);
    flex-shrink: 0;
    margin-right: rem-calc(16);

    @include breakpoint(small only) {
      font-size: rem-calc(24);
      margin-right: rem-calc(12);
    }

    &.is-color-accent {
      color: $color-secondary;
      position: absolute;
      top: rem-calc(36);
      left: rem-calc(2);

      @include breakpoint(small only) {
        top: rem-calc(20);
      }
    }
  }

  &__content {
    padding: rem-calc(36) rem-calc(24) 0 rem-calc(50);
    position: relative;
    display: none;

    @include breakpoint(small only) {
      padding: rem-calc(16) rem-calc(24) 0 rem-calc(40);
    }
  }

  &__text {
    line-height: 2;
  }
}
