.c-block-step {
  overflow: hidden;

  &__inner {
    position: relative;
    z-index: 1;
  }

  &__blocks {
    position: relative;
    display: flex;

    @include breakpoint(medium down) {
      display: block;
    }

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: rem-calc(163);
      transform: translateX(-50%) translateY(-50%);
      width: rem-calc(1920);
      height: rem-calc(1);
      background: $border-base-color;

      @include breakpoint(medium down) {
        left: rem-calc(88);
        top: 0;
        width: rem-calc(1);
        transform: translateX(50%);
        height: 100%;
      }
    }
  }

  &__block {
    width: 100%;
    counter-increment: number 1;

    &:not(:first-child) {
      margin-left: rem-calc(72);

      @include breakpoint(medium down) {
        margin-left: 0;
        margin-top: rem-calc(48);
      }
    }
  }

  &__content {

    @include breakpoint(medium down) {
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    flex: none;
    position: relative;
    width: 100%;
    max-width: rem-calc(140);
    margin: 0 auto;

    @include breakpoint(medium down) {
      max-width: rem-calc(100);
      display: flex;
      align-items: center;
    }

    &:after {
      content: "";
      flex: none;
      display: block;
      width: rem-calc(16);
      height: rem-calc(16);
      background: $color-white;
      border: 3px solid $color-primary;
      border-radius: 50%;
      margin: rem-calc(12) auto 0;

      @include breakpoint(medium down) {
        margin: auto 0 auto rem-calc(4);
      }
    }

    img {
      @include breakpoint(medium down) {
        max-width: calc(100% - 26px);
      }
    }
  }

  &__box {
    position: relative;
    min-height: rem-calc(185);
    background: #E4F2F9;
    padding: rem-calc(24) rem-calc(20);
    border-radius: 18px;
    margin-top: rem-calc(60);

    @include breakpoint(medium down) {
      min-height: auto;
      margin-top: 0;
      margin-left: rem-calc(32);
    }

    @include breakpoint(small only) {
      padding: rem-calc(20) rem-calc(16);
    }

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%) translateY(-100%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 21px 12px;
      border-color: transparent transparent #E4F2F9 transparent;

      @include breakpoint(medium down) {
        left: 0;
        top: 50%;
        transform: translateX(-100%) translateY(-50%);
        border-width: 10px 18px 10px 0;
        border-color: transparent #E4F2F9 transparent transparent;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    @include webfont-gothic();
    @include font-format(20,0,29,500);

    @include breakpoint(medium down) {
      justify-content: flex-start;
    }

    @include breakpoint(small only) {
      font-size: rem-calc(16);
    }

    &:before {
      content: counter(number);
      flex: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem-calc(26);
      height: rem-calc(26);
      color: $color-white;
      background: $color-primary;
      border-radius: 50%;
      @include webfont-lato();
      @include font-format(16,0,19,500);
      margin-right: rem-calc(6);

      @include breakpoint(small only) {
        width: rem-calc(20);
        height: rem-calc(20);
        font-size: rem-calc(14);
      }
    }
  }

  &__text {
    margin-top: rem-calc(12);
    @include webfont-gothic();
    @include font-format(14,0.02,24,400);

    @include breakpoint(small only) {
      font-size: rem-calc(13);
      margin-top: rem-calc(6);
    }
  }

  &__button {
    text-align: center;
    margin-top: rem-calc(16);

    @include breakpoint(small only) {
      margin-top: rem-calc(12);
    }
  }
}
