.c-card-voice {
  position: relative;

  &__blocks {
    display: flex;

    @include breakpoint(small only) {
      flex-direction: column;
    }
  }

  &__block {
    width: 100%;
    height: 100%;
    background: $color-white;
    padding: 0 rem-calc(32) rem-calc(52);
    border-radius: 23px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    @include webfont-gothic();

    @include breakpoint(medium down) {
      padding: 0 rem-calc(28) rem-calc(32);
    }

    @include breakpoint(small only) {
      padding: 0 rem-calc(20) rem-calc(16);
    }

    &:nth-child(2) {
      margin-top: rem-calc(40);
    }

    &:nth-child(3) {
      margin-top: rem-calc(80);
    }

    &:not(:first-child) {
      margin-left: rem-calc(36);

      @include breakpoint(small only) {
        margin-left: 0;
        margin-top: rem-calc(48);
      }
    }
  }

  &__image {
    width: 100%;
    max-width: rem-calc(276);
    margin: rem-calc(-30) auto 0;

    @include breakpoint(small only) {
      max-width: rem-calc(200);
      margin-top: rem-calc(-20);
    }
  }

  &__text {
    @include font-format(15,0.02,30,400);
    margin-top: rem-calc(24);

    @include breakpoint(small only) {
      font-size: rem-calc(14);
      margin-top: rem-calc(16);
    }

    span {
      color: $color-primary;
      font-weight: 700;
    }
  }

  &__person {
    @include font-format(15,0.02,26,500);
    margin-top: rem-calc(24);

    @include breakpoint(small only) {
      font-size: rem-calc(14);
      margin-top: rem-calc(12);
    }
  }
}
