.c-pagetop {
  position: absolute;
  right: rem-calc(52);
  bottom: rem-calc(80);

  @include breakpoint(medium down) {
    right: rem-calc(20);
    bottom: rem-calc(20);
  }

  a {
    text-decoration: none;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem-calc(42);
    height: rem-calc(42);
    border-radius: 50%;
    border: 2px solid $color-white;

    @include breakpoint(small only) {
      width: rem-calc(32);
      height: rem-calc(32);
    }

    &:after {
      content: "north";
      font-family: "Material Icons Round";
      line-height: 1;
      letter-spacing: 0;
    }
  }
}
