//- filename: index.jade
//- description: サイトのトップページ

extends /inc/foundation/_base.pug
block append config
  - current.id = "top" // ページのID
  - current.title = "無人ホワイトニングルーム｜HAKU センター南店" // タイトルあ
  - current.description = "高品質なホワイトニングを低価格で。セルフで完全無人の「HAKU」だからこそ実現できる業界最安値。物件にかかる費用や人件費を大幅に削減することで、低価格を実現しています。東京TMクリニック提携。医療用ジェル取扱店。" // 説明文
  - current.bodyClass = "top" // body に付与するクラス
  - current.depth = 1 // ページの階層

block body
  +c_main-visual()
  main.l-main
    section.l-section.is-lg
      .l-container
        +c.banner-campaign
          +e.image
            +img("img-banner-campaign.png")
    section.l-section.is-xlg.is-bg-primary
      +c.block-point
        +e.float Self Whitening haku
        .l-container
          +e.inner
            +e.head.c-heading.is-xlg
              span ABOUT HAKU
              b HAKUが大好評の理由
            +e.list
              +e.item
                +e.number
                  small Point
                  span 01
                +e.content
                  +e.title <span>医療</span>ホワイトニングだから実現できる<span>圧倒的な白さ</span>
                  +e.text 大手クリニックとの提携により、通常のサロンでは取り扱うことのできない医療ジェルを使用したホワイトニングができます。
              +e.item
                +e.number
                  small Point
                  span 02
                +e.content
                  +e.title <span>月額制</span>だから手軽に通える
                  +e.text 「HAKU」では、月額通い放題のサブスクリプションシステムを導入しています。よくある「○○回コース」や期間などの縛りがないため、自分のペースで利用できます。<small>※薬剤(ジェル)は別途購入が必要です</small>
              +e.item
                +e.number
                  small Point
                  span 03
                +e.content
                  +e.title <span>完全無人</span>のプライベート空間
                  +e.text 最高にリラックスした状態でホワイトニングを受けていただくため、完全予約制・完全個室でのサービス提供をしています。<br>カウンセリングもオンラインで対応していますので、人と会うことはありません。
    section.l-section.is-xlg.is-bottom
      +c.card-after-before
        .l-container
          +e.head.c-heading.is-xlg
              span BEFORE AFTER
              b ビフォーアフター
          +e.inner
            +e.blocks
              +e.block
                +e.number 1
                +e.image
                  +img("img-card-after-before-01.jpg")
                +e.title 施設前
              +e.block
                +e.number 2
                +e.image
                  +img("img-card-after-before-02.jpg")
                +e.title <span>1</span>回目
              +e.block
                +e.number 3
                +e.image
                  +img("img-card-after-before-03.jpg")
                +e.title <span>5</span>回目
              +e.block
                +e.number 4
                +e.image
                  +img("img-card-after-before-04.jpg")
                +e.title <span>10</span>回目
    section.l-section.is-xlg.is-bg-secondary
      +c.block-service
        +e.float Self Whitening haku
        .l-container
          +e.inner
            +e.head.c-heading.is-xlg
              span COMPARISON WITH OTHER SERVICES
              b 他サービスとの比較
            +e.lead ホワイトニング選びにおいて最も重要なポイントである「白くなるまでにかかる手間と費用」に着目して比較しています。
            +e.box
              +e.image
                +img("img-block-service.png")
    section.l-section.is-lg
      +c.block-step
        .l-container
          +e.inner
            +e.head.c-heading.is-xlg
              span STEP
              b ご利用の流れ
            +e.blocks
              +e.block
                +e.content
                  +e.icon
                    +img("img-block-step-icon-01.png")
                  +e.box
                    +e.title お試し体験
                    +e.text ご利用が初めてのお客様は、無料のお試し体験をお申し込みください。お試し体験では、20分程度のオンラインカウンセリングと、実際のホワイトニング体験を行います。
                +e.button
                  +a("https://line.me/R/ti/p/@060jzuih?oat__id=931679").c-button お申し込みはこちら
              +e.block
                +e.content
                  +e.icon
                    +img("img-block-step-icon-02.png")
                  +e.box
                    +e.title ジェルの購入
                    +e.text 医療ジェル・美容ジェルからお好きなジェルを選択し、購入します。医療ジェルをご希望の場合は、LINEにて、オンライン診療の受診が必要です。
              +e.block
                +e.content
                  +e.icon
                    +img("img-block-step-icon-03.png")
                  +e.box
                    +e.title 月額プラン加入
                    +e.text ジェルがお手元に届きましたら、通い放題やメンテナンスなどの月額プランに加入します。プラン加入中は、24時間いつでもお好きな時間にご予約が可能です。
    section.l-section.is-xlg.is-bg-primary
      +c.block-point
        +e.float Self Whitening haku
        .l-container
          +e.inner
            +e.head.c-heading.is-xlg
              span STEP
              b 施術の流れ
            +e.iframe
              <iframe width="560" height="315" src="https://www.youtube.com/embed/7EnyZ7iKFDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    section.l-section.is-xlg.is-xlg.is-top
    section.l-section.is-xlg
      +c.block-plan
        .l-container
          p テキスト
    section.l-section.is-xlg
      .l-container
        +c.banner-guarantee
          +e.image
            +img("img-banner-guarantee.png")
    section.l-section.is-xlg.is-bg-voice
      +c.card-voice
        .l-container
          +e.head.c-heading.is-xlg.is-left.is-color-white
              span VOICE
              b お客さまの声
          +e.blocks
            +e.block
              +e.image
                +img("img-card-voice-01.png")
              +e.text <span>清潔感のあるお部屋</span>でリラックスできました。 パーフェクトジェルを利用しましたが、１回の来店でも周りから<span>白くなったといってもらえました</span>。 回数を重ねて、もっと白くしたいです！
              +e.person.
                S・T さん<br>
                20代女性 接客業
            +e.block
              +e.image
                +img("img-card-voice-02.png")
              +e.text ホームや他サロンで効果が出ず、最近までクリニックに通っていましたが、回数を通うとかなり高額になるので、<span>HAKUさんに乗り換えました</span>。クリニックの品質をこの価格で受けられる店舗は<span>正直他にない</span>と思います。
              +e.person.
                K・T さん<br>
                30代男性 会社経営
            +e.block
              +e.image
                +img("img-card-voice-03.png")
              +e.text 初回のお試し体験では、モニターを通じて細かく教えてもらうことができて、<span>分からないこともその場で聞くことができました</span>。次回から利用する時のために手順が一通り覚えられたので、<span>気軽に通えそう</span>です。
              +e.person.
                H・M さん<br>
                30代女性 主婦
    section.l-section.is-xlg.is-bg-faq
      +c.accordion
        .l-container
          +e.index.c-heading.is-xlg
            span FAQ
            b よくあるご質問
          +e.blocks
            +e.block.js-accordion.is-open
              +e.head(data-accordion-title="accordion-title")
                +e.icon Q
                +e.title 1回で白くなりますか？
              +e.content(data-accordion-content="accordion--text", style="display: block;")
                +e.icon.is-color-accent A
                +e.text 1回でも白さアップを期待できますが、目標の白さに到達するまでは複数回通う必要のあるケースが多いです。
            +e.block.js-accordion
              +e.head(data-accordion-title="accordion-title")
                +e.icon Q
                +e.title 白くなったら通わなくてもいいですか？
              +e.content(data-accordion-content="accordion--text")
                +e.icon.is-color-accent A
                +e.text 再石灰化の影響によって色戻りしてしまうため、白くなった後も定期的なメンテナンスをお勧めしています。1年目は2週間に1度程度のご利用を推奨しております。
            +e.block.js-accordion
              +e.head(data-accordion-title="accordion-title")
                +e.icon Q
                +e.title 食事制限はありますか？
              +e.content(data-accordion-content="accordion--text")
                +e.icon.is-color-accent A
                +e.text 施術後30分のみ、色素沈着しやすくなっているためご飲食を避けていただいております。それ以降のお食事の制限はございません。
            +e.block.js-accordion
              +e.head(data-accordion-title="accordion-title")
                +e.icon Q
                +e.title 妊娠中・授乳中でも利用可能ですか？
              +e.content(data-accordion-content="accordion--text")
                +e.icon.is-color-accent A
                +e.text 妊娠中はお控えいただいております。授乳中は特に問題ありません。
            +e.block.js-accordion
              +e.head(data-accordion-title="accordion-title")
                +e.icon Q
                +e.title どのくらいの頻度で行うのが理想ですか？
              +e.content(data-accordion-content="accordion--text")
                +e.icon.is-color-accent A
                +e.text 目標の白さになるまでは週1, 2回程度。以降は白さを維持するため月2回程度通っていただくことを推奨しております。
    section.l-section.is-xlg
      +c.block-access
        +e.inner
          +e.iframe
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3246.3047091309854!2d139.57306071572688!3d35.54617608022604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f7ed5a27b351%3A0xf48e10354fb85869!2zSEFLVSDjgrvjg7Pjgr_jg7zljZflupc!5e0!3m2!1sja!2sjp!4v1660649933512!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          +e.content
            +e("h2").title.c-heading.is-xlg.is-left
              span ACCESS
              b アクセス情報
            +e.text 無人ホワイトニングルーム HAKU
            +e.address.
              センター南駅 5番出口 徒歩10秒<br>
              <br>
              〒224-0032 神奈川県横浜市都筑区茅ケ崎中央50-17<br>
              C・M Port 7F
            +e.button
              +a-ex("https://goo.gl/maps/mvNJbaTuPthHtCKY6").c-button.is-sm Google Map
