//- filename: index.jade
//- description: サイトのトップページ

extends /inc/foundation/_base.pug
block append config
  - current.id = "top" // ページのID
  - current.title = "無人ホワイトニングルーム｜HAKU センター南店" // タイトルあ
  - current.description = "高品質なホワイトニングを低価格で。セルフで完全無人の「HAKU」だからこそ実現できる業界最安値。物件にかかる費用や人件費を大幅に削減することで、低価格を実現しています。東京TMクリニック提携。医療用ジェル取扱店。" // 説明文
  - current.bodyClass = "top" // body に付与するクラス
  - current.depth = 1 // ページの階層

block body
  +c_main-visual()
  main.l-main
    section.l-section.is-lg
      .l-container
        +c.banner-campaign
          +e.image
            +img("img-banner-campaign.png")
    section.l-section.is-xlg.is-bg-blue
      +c.block-point
        +e.float Self Whitening haku
        .l-container
          +e.inner
            +e.head.c-heading.is-xlg
              span ABOUT HAKU
              b HAKUが大好評の理由
            +e.list
              +e.item
                +e.number
                  small Point
                  span 01
                +e.content
                  +e.title <span>医療</span>ホワイトニングだから実現できる<span>圧倒的な白さ</span>
                  +e.text 大手クリニックとの提携により、通常のサロンでは取り扱うことのできない医療ジェルを使用したホワイトニングができます。
              +e.item
                +e.number
                  small Point
                  span 02
                +e.content
                  +e.title <span>月額制</span>だから手軽に通える
                  +e.text 「HAKU」では、月額通い放題のサブスクリプションシステムを導入しています。よくある「○○回コース」や期間などの縛りがないため、自分のペースで利用できます。<small>※薬剤(ジェル)は別途購入が必要です</small>
              +e.item
                +e.number
                  small Point
                  span 03
                +e.content
                  +e.title <span>完全無人</span>のプライベート空間
                  +e.text 最高にリラックスした状態でホワイトニングを受けていただくため、完全予約制・完全個室でのサービス提供をしています。<br>カウンセリングもオンラインで対応していますので、人と会うことはありません。
    section.l-section.is-lg
      .l-container
        +heading-xlg("私たちについて", "ABOUT").is-bottom.js-modal-image(data-modaal-content-source="assets/images/img-sample.jpg")
        p.u-text-center テキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        +c.card.u-mbs.is-top.is-lg
          .row.slide
            .large-4.small-12
              +e.block
                +e.image: +img("img-card-01.jpg")
                +e.content
                  h3.c-card__title コンセプトタイトル
                  p.c-card__text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            .large-4.small-12
              +e.block
                +e.image: +img("img-card-01.jpg")
                +e.content
                  h3.c-card__title コンセプトタイトル
                  p.c-card__text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            .large-4.small-12
              +e.block
                +e.image: +img("img-card-01.jpg")
                +e.content
                  h3.c-card__title コンセプトタイトル
                  p.c-card__text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
