//- filename: index.jade
//- description: サイトのトップページ

extends /inc/foundation/_base.pug
block append config
  - current.id = "top" // ページのID
  - current.title = "無人ホワイトニングルーム｜HAKU センター南店" // タイトルあ
  - current.description = "高品質なホワイトニングを低価格で。セルフで完全無人の「HAKU」だからこそ実現できる業界最安値。物件にかかる費用や人件費を大幅に削減することで、低価格を実現しています。東京TMクリニック提携。医療用ジェル取扱店。" // 説明文
  - current.bodyClass = "top" // body に付与するクラス
  - current.depth = 1 // ページの階層

block body
  +c_main-visual()
  main.l-main
    section.l-section.is-lg
      .l-container
        +c.banner-campaign
          +e.image
            +img("img-banner-campaign.png")
    section.l-section.is-lg
      .l-container
        +heading-xlg("私たちについて", "ABOUT").is-bottom.js-modal-image(data-modaal-content-source="assets/images/img-sample.jpg")
        p.u-text-center テキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        +c.card.u-mbs.is-top.is-lg
          .row.slide
            .large-4.small-12
              +e.block
                +e.image: +img("img-card-01.jpg")
                +e.content
                  h3.c-card__title コンセプトタイトル
                  p.c-card__text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            .large-4.small-12
              +e.block
                +e.image: +img("img-card-01.jpg")
                +e.content
                  h3.c-card__title コンセプトタイトル
                  p.c-card__text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
            .large-4.small-12
              +e.block
                +e.image: +img("img-card-01.jpg")
                +e.content
                  h3.c-card__title コンセプトタイトル
                  p.c-card__text ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
