//- filename: footer.jade
//- description: フッター

footer.l-footer
  +c.pagetop
    +a("#")(data-anchor-target="html").js-anchor
  .l-container
    .l-footer__inner
      +a("/").l-footer__logo: +img("logo-white.png","無人ホワイトニングルーム HAKU")
      address.l-footer__address 〒224-0032 神奈川県横浜市都筑区 <br class="u-visible-sm">茅ケ崎中央50-17 C・M Port 7F
      nav.l-footer__nav
        ul
          li: +a("#").js-anchor ビフォーアフター
          li: +a("#").js-anchor ご利用の流れ
          li: +a("#").js-anchor 料金プラン
          li: +a("#").js-anchor よくある質問
          li: +a("#").js-anchor アクセス
          li: +a-ex("https://line.me/R/ti/p/@060jzuih?oat__id=931679") お問い合わせ
      small.l-footer__copyright ©︎<span class="js-current-year"></span> HAKU, All rights reserved.
