header.l-header.js-fixedheader
  .l-header__content
    if current.id == 'top'
      h1.l-header__logo: +a("/"): +img("logo.png","無人ホワイトニングルーム HAKU")
    else
      .l-header__logo: +a("/"): +img("logo.png","無人ホワイトニングルーム HAKU")
    nav.l-header__nav
      ul
        li: +a("#").js-anchor ビフォーアフター
        li: +a("#").js-anchor ご利用の流れ
        li: +a("#").js-anchor 料金プラン
        li: +a("#").js-anchor よくある質問
        li: +a("#").js-anchor アクセス
        li: +a("#").js-anchor お問い合わせ
    +a-ex("https://line.me/R/ti/p/@060jzuih?oat__id=931679").l-header__button
      +img("img-header-button.png")


